body{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 0%;
    transition: border-radius 2s, background-color 3s ease;
}

div:hover {
    border-radius: 50%;
    background-color: purple;
}